.pa-footer {
    background-color: var(--primary-color-bue-7, #00080F) !important;

    .pa-menu:not(:last-of-type) {
        border-bottom: none !important;

        > ul {
            padding-left: 65px;
        }
    }


    & > .container {
        max-width: 1204px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .custom-logo {
        max-width: 183px;
    }

    hr {
        background-color: var(--primary-color-bue-7, #00080F) !important;
        opacity: 1;
        width: 87px !important;
    }

    .pa-contact {
        .pa-adress {

            &::before {
                color: var( --e-global-color-eb8baa4 ) !important;
                font-size: var(--e-icon-list-icon-size) !important;
            }
        }
    }

    .btn {
        font-size: 13px;
        line-height: 22px;
        padding: 14px 32px 14px 32px;
        font-family: "Noto Sans", Sans-serif;
        font-weight: 500;
        fill: var( --e-global-color-d7ef768 );
        color: var( --e-global-color-d7ef768 );
        background-color: var( --e-global-color-text );
    }
}

.pa-social-network {
    span {
        color: #fff;
        text-align: right;
        font-family: Noto Sans;
        font-size: 12px !important;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 200% */
    }

    .fab {
        margin-right: 10px;
        color: #fff !important;
        font-size: 16.5px !important;

        &:last-child {
            margin-right: 0;
        }
    }
}

.pa-copyright {
    background-color: var( --e-global-color-secondary ) !important;
    padding: 18px 0px 14px 0px;

    .row {
        margin: 0 !important;
    }

    & > .container,
    .flex-xl-row {
        max-width: 1140px;
        padding: 0 !important;
    }

    span {
        color: var( --e-global-color-eb8baa4 );
        font-family: var( --e-global-typography-394f4fe-font-family ), Sans-serif;
        font-size: var( --e-global-typography-394f4fe-font-size );
        line-height: var( --e-global-typography-394f4fe-line-height );
        letter-spacing: var( --e-global-typography-394f4fe-letter-spacing );
        word-spacing: var( --e-global-typography-394f4fe-word-spacing );
    }
}