#topo {
    position: relative;
    z-index: 10;
    background: transparent;
}

.pa-menu-desktop {
    max-width: 1140px !important;
    padding: 0 !important;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var( --e-global-color-4bfdb6a );
}

.pa-header-logo {
    padding: 0 10px !important;
}

.custom-logo {
    max-height: 79px;
}

#menu-menu-principal {
    .nav-link {
        border: none !important;
        color: var( --e-global-color-183d826 ) !important;
        fill: var( --e-global-color-183d826 );
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: var( --e-global-typography-a6cec23-font-family ), Sans-serif;
        font-size: var( --e-global-typography-a6cec23-font-size );
        font-weight: var( --e-global-typography-a6cec23-font-weight );
        line-height: var( --e-global-typography-a6cec23-line-height );
        letter-spacing: var( --e-global-typography-a6cec23-letter-spacing );
        word-spacing: var( --e-global-typography-a6cec23-word-spacing );
        position: relative;

        &::after {		
            background-color: var( --e-global-color-accent );
            opacity: 0;
            height: 8px;
            content: "";
            bottom: 0;
            width: 100%;
            left: 0;
            z-index: 1;
            display: block;
            position: absolute;
            transition: .3s;
            transition-timing-function: ease;
            transition-timing-function: cubic-bezier(.58,.3,.005,1);
        }
    }

    .nav-item.active .nav-link::after,
    .nav-link:hover::after {
        opacity: 1;
    }
}

.pa-menu-global {
    padding: 20px 0 0 !important;

    .nav-link {
        padding: 0 !important;
        color: var( --e-global-color-d7ef768 ) !important;
        font-family: var( --e-global-typography-7a6583d-font-family ), Sans-serif;
        font-size: var( --e-global-typography-7a6583d-font-size ) !important;
        font-weight: var( --e-global-typography-7a6583d-font-weight );
        line-height: var( --e-global-typography-7a6583d-line-height );
        letter-spacing: var( --e-global-typography-7a6583d-letter-spacing );
        word-spacing: var( --e-global-typography-7a6583d-word-spacing );
    }

    .nav-item {
        &:not(:last-of-type) {
            padding: 0px 24px 0px 0px;
        }
    }
}
